<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Aviation Fan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse indexFont indexNav navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle indexNavBt" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Aviation Fan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Aircraft</a></li>
                <li><a href="airport">Airports</a></li>
                <li><a href="route">Routes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost:8080/">Management</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid indexFont topPaddingMuch">
    <div class="row">
        <div class="col-sm-8 noBorder">
            <div class="lrPadding">
            <h3>Range and Capacity Comparision of all Aircraft Types</h3>
            </div>
            <div id="myDiv" style="width: 100%; height: 75vh;"></div>
            <script th:inline="javascript">
                //<![CDATA[
                var arr = /*[[${aircrafts}]]*/ '[]';
                var data = [];

                var manarr = [];
                for (var i = 0; i < arr.length; i++) {
                    if (manarr.indexOf(arr[i].manufacturer) == -1) {
                        manarr.push(arr[i].manufacturer);
                    }
                }

                for (var j = 0; j < manarr.length; j++) {
                    var rngarr = [];
                    var cpcarr = [];
                    var mrkarr = [];
                    var txtarr = [];
                    for (var i = 0; i < arr.length; i++) {
                        if (arr[i].manufacturer == manarr[j]) {
                            rngarr.push(arr[i].range);
                            cpcarr.push(arr[i].capacity);
                            mrkarr.push(Math.sqrt(arr[i].capacity) * 1.25);
                            txtarr.push(arr[i].model + '-' + arr[i].submodel);
                        }
                    }
                    var traceX = {
                        x: rngarr,
                        y: cpcarr,
                        text: txtarr,
                        mode: 'markers',
                        name: manarr[j],
                        marker: {
                            size: mrkarr
                        }
                    };
                    data.push(traceX);
                }

                var layout = {
                    showlegend: true,
                    autosize: true,
                    xaxis: {
                        range: [0, 18000],
                        title: 'Range (km)'
                    },
                    yaxis: {
                        range: [0, 600],
                        title: 'Capacity (people)'
                    },
                    legend: {
                        yanchor: 'middle',
                        xanchor: 'right'
                    },
                    hovermode: 'closest',
                    margin: {
                        l: 80,
                        r: 0,
                        b: 50,
                        t: 0
                    }
                };

                var options = {
                    scrollZoom: true,
                    displayModeBar: false
                };

                Plotly.newPlot('myDiv', data, layout, options);
                //]]>
            </script>
        </div>
        <div class="col-sm-4 noBorder">
        </div>
    </div>
</div>

<footer class="footer indexFont navbar-fixed-bottom indexFot">
    <div class="container">
        <p class="text-muted topPadding">Aviation Fan (c) 2017</p>
    </div>
</footer>
</body>
</html>




